@model AC_BM.Models.ViewModels.TransactionVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h1>Record Transactions</h1>
    <div class="wrapper">
        <div class="title">Transaction</div>
           <div class ="form" method="post">
               <div asp-validation-summary="All"></div>          
                <div class="input_field">
                    <label  asp-for="TransactionName">Title</label>
            <input asp-for="TransactionName" class="input" type="text" name="TransactionName" />
                    <span asp-validation-for="TransactionName" class="text-danger"></span>
                </div>
        <div class="input_field">
            <label>Service Fee</label>
            <input asp-for="Pay" class="input" type="number" name="Pay" value="@Model.Pay"/>
            <span asp-validation-for="Pay"class="text-danger"></span>
          </div>
        <div class="input_field">
            <label>Tax</label>
            <input asp-for="Tax" class="input" type="number" name="Tax" value="@Model.Tax" />
            <span asp-validation-for="Tax"class="text-danger"></span>
          </div>
        <div class="input_field">
            <label>Net Pay</label>
            <input asp-for="Net_pay" class="input" type="number" name="Net_pay"  value="@Model.Net_pay"/>
            <span asp-validation-for="Net_pay"class="text-danger"></span>
          </div>
        <div class="input_field">
                    <label>Facility Fee</label>
            <input asp-for="facilityfee" class="input" type="number" name="facilityfee" value="@Model.facilityfee" />
                      <span asp-validation-for="facilityfee" class="text-danger"></span>
                </div>
        <div class="input_field">
                    <label >Government Fee</label>
            <input asp-for="Governmentfee" class="input" type="number" name="Governmentfee" value="@Model.Governmentfee" />
                    <span asp-validation-for="Governmentfee" class="text-danger"></span>
                </div>
        <div class="input_field">
            <label >Total</label>
            <input asp-for="Amount" class="input" type="number" name="Amount" value="@Model.Amount" />
            <span asp-validation-for="Amount"class="text-danger"></span>
          </div>
   
             @if(TempData["msg"]!=null){
             <div class="text-success">
            @TempData["msg"]
               </div>
              }
             <button class="btn  type="submit" asp-controller="Transaction" asp-action="Add"> &nbsp;Save Record</button>
             
           <div class="input_field">
             <button class="btn btn-primary" type="submit">Ok</button>
            <a asp-action="TransactionList" asp-controller="Transaction" class="btn btn-danger" >All records</a>
            </div>
   </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }

}
